In [1]:
#this is my first python program
#whatever we have mentioned in the print statment we can print
# There are multiple ways by which we can use the print function
# We will be talking about all those ways
# Let asassume we don't have any idea what is print,what it can do, what kind f variable it can takes, it completely fine 
# we are not supose to remiber even a single syntx
# with shift tab we find all the information , not even needs to do the google search
print('this is my first python program')

this is my first python program

## Running Python in script mode:

Alternatively, programmers can store Python script source code in a file with the .py extension, and use the interpreter to execute the contents of the file. To execute the script by the interpreter, you have to tell the interpreter the name of the file. For example, if you have a script name MyFile.py and you're working on Unix, to run the script you have to type: 
python MyFile.py 
Working with the interactive mode is better when Python programmers deal with small pieces of code as you can type and execute them immediately, but when the code is more than 2-4 lines, using the script for coding can help to modify and use the code in future.

In [2]:
print('hello)
#whenwever we write a code for sure we'll male some mistakes
# we don't neeeds to worry about it just read the error, which type of error we are geeting, in most of case we'll resolve this
# and try to resolve accordingly
## EOL End of line (while scanning string literal)
## we needs to close this with double quote

SyntaxError: EOL while scanning string literal (<ipython-input-2-bec697fb1f2e>, line 1)

In [4]:
print " this is my first program" # this statement is vaild in python 2 only not in python 3 which we are using
## Writing  a code is not a big deal, debuging is 80 percent
# if we want to check if the person is good progremer, we check his logic and debugging skiils

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(" this is my first program" # this statement is vaild in python 2 only not in python 3 which we are using)? (<ipython-input-4-49870928258c>, line 1)

In [ ]:
#lets we want to write 
# my name is narender
# with using the # this will understand this line as complete statment  not an code or logic
# whenever we write a code we should always write or mention comment so that other can understant our code, this is best programing
# As of now it is correct but when we use is company we needs to write the comment in evrry code so that other can understand our commment

In [5]:
my name is narender

SyntaxError: invalid syntax (<ipython-input-5-869c8d3be800>, line 1)

In [8]:
#my name is narender

"""sdd
f
d
sa
da
das
ad
adad
asd
adada
f"""

'sdd\nf\nd\nsa\nda\ndas\nad\nadad\nasd\nadada\nf'

In [ ]:
# for multiline comment we use triple quote , for multiple line we use triple quote for comment
# In differnt langusge we use different commentr

In [10]:
#my name is narender 
"""FAFASFSAFSAFASFASFASFSDFASF
ASDFASF
ASDFASDF
"""

'FAFASFSAFSAFASFASFASFSDFASF\nASDFASF\nASDFASDF\n'

In [13]:
"""print("fsdfsdfs")
print("Fsdfsfs\FSDFSAFASFASDDF)# we can write anything here also we can do mistake as this is going to count this as a multiline comment
print("sdfsfsdf")"""

'print("fsdfsdfs")\nprint("Fsdfsfs\\FSDFSAFASFASDDF)# we can write anything here also we can do mistake as this is going to count this as a multiline comment\nprint("sdfsfsdf")'

In [12]:
# Please write each and everything with me i am going to give enough time to write each and every think
print("fsdfsdfs")
print("Fsdfsfs\FSDFSAFASFASDDF")
print("sdfsfsdf")

fsdfsdfs
Fsdfsfs\FSDFSAFASFASDDF
sdfsfsdf

In [ ]:
## If we want to play any vedio
## 1st we are unsing opreting system and our vIdeo is saved in the hard disk 
## 1st when we click then it will run each and every thing harddisk will sned the data in main memorty then it will try do the 
# the computation in CPU if data is available in the RAM, it will take sometime because it try to play each and every thing
## ALL THE PROCEESSING HAPEN IN THE MAIN MEMORY (all this we study in compter science  )

In [21]:
## Why we writing a code ans: to procees some data, to perform some code, if we have write some code in sql, why we have write that code
## because we want some data from that sql query
## in for loop we try to executue some sort of data
## While we wrting a code we are tring to procees some data allways otherwise why we'll write some code or query. 
## From here come the concept of the variable

## In any progarmimg lanagvage we will find the concept of variable
## What is variable : A variable is nothing but a local intensces or globle intences where we can try to store a data

In [6]:
 a = 10 ## We have created a varibale a in which we are storing some variable

In [7]:
## Let us supoese we have ram , let me tell you in lamen way without wasting any time 
#let we have variable a and we want to store it then it will take some data in ram
## let us take a example of our mobile we want to store a number in phone 
## First of all it will try to take some space (reverse space "contnous or ")
## in this space in which lacation this is saved is called variable
## if we want to save some data in ram, then we can give it some name and save it so that we can use it later
## We can store any type of data
## variable name is nothing but it is the name of that place where data is stored which is given by us
##there can be multiple way to write and save the variable

In [8]:
a ## how this is happened : we stored a location a in ram in a 10 is stored, by the same we can acceess very heavy file
## The role of the variable is to store the data we want to store 
## Let us spose we want to shut down the system then all the variable will be gone when we'll restart the system this is why we called  
## These temporary storage( We have to recreate the variable when we'll restart the system)
## If we will save this variable in harddisk(or in some file system then it will be there)
## In the other progarming langauge we try cretate a the variable by defining data type the variable name then data
## In python we don;t do the same in python we don't follow the same in pyton it will be able to understand by itself 
## If it integer float or floting point number  any other data types 
##

10

## Rules for Python variables: 
• A variable name must start with a letter or the underscore  character 
• A variable name cannot start with a number 
• A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) 
• Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
## Assigning Values to Variables:

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables. 
The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable.

In [9]:
afsdf = 10

In [10]:
afsdf

10

In [ ]:
## Multiple Assignment:

Multiple Assignment: 
Python allows you to assign a single value to several variables simultaneously.  
For example : 
a = b = c = 1 
Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location. You can also assign multiple objects to multiple variables.  
For example − 
a,b,c = 1,2,"mrcet“ 
Here, two integer objects with values 1 and 2 are assigned to variables a and b respectively, and one string object with the value "john" is assigned to the variable c.

In [ ]:
## Output Variables

The Python print statement is often used to output variables. 
Variables do not need to be declared with any particular type and can even change type after they have been set. ## gIVE AN example where we change the variable

## Data types:

The data stored in memory can be of many types. For example, a student roll number is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.

## Int:

In [11]:
## Int, or integer, is a whole number, positive or negative,   without decimals, of unlimited length.  
print(24656354687654+2)

24656354687656

In [12]:
print(20)

20

In [13]:
print(0b10)

2

 ## Type is a inbuilt function like print(), we are going to use type many times
## # To verify the type of any object in Python, use the type() function:

In [14]:
type(a)

int

In [27]:
b = '34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df' ## 10 is also a data very small but a data, file is not only data

In [ ]:
## Same as file storage

In [29]:
b  ##We can write any variable name , it totaly dpeneds on us

'34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [31]:
b="narender"
b ## Ans is in single quote alwasys , in single quote or double quote will be trated as string

'narender'

In [32]:
type(b) ## We'll check the type, b is string type of a variable which we are able to create

str

In [33]:
print(b , a ,"Fsdfsfsd")

narender enter an number Fsdfsfsd

In [34]:
a = 45
b = "sudh "

In [36]:
a, b  , s = 45 , "sudh" , "this is my name " ## We can print anything we want to print

In [37]:
a  ## we can update the a and b as per our needs

45

In [38]:
b

'sudh'

In [39]:
s

'this is my name '

## String:

1. Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes.  
• 'hello' is the same as "hello". 
• Strings can be output to screen using the print function. For example: print("hello")

If you want to include either type of quote character within the string, the simplest way is to delimit the string with the other type. If a string is to contain a single quote, delimit it with double quotes and vice versa:

In [15]:
print("mrcet is an autonomous (') college")

mrcet is an autonomous (') college

In [17]:
 print('mait is an autonomous (") college')

mait is an autonomous (") college

In [40]:
type(b)

str

In [41]:
type(s)

str

In [42]:
type(a)

int

In [43]:
print(a,b,s) ##Type will be tuple

45 sudh this is my name

In [44]:
b  = '"fsdf"' ##If we want to print inthe double quote

In [45]:
b

'"fsdf"'

In [62]:
1b = "fsfsd" ## We can't start with the number or integer we can use # for comment, _ also we can use

SyntaxError: invalid syntax (<ipython-input-62-52e6f428e73b>, line 1)

In [63]:
B = "fsdf"

In [64]:
B

'fsdf'

In [65]:
b = "fsfsd"

In [66]:
2b = "sdfs"

SyntaxError: invalid syntax (<ipython-input-66-15e8dfce1214>, line 1)

In [67]:
_b = 234534

In [68]:
_b

234534

In [97]:
b& = "fsds" #We shold alwasys  give some meaningful name , we sholud write a code like story so that every one can undersntand our code

SyntaxError: invalid syntax (<ipython-input-97-66b2c8de8d20>, line 1)

In [98]:
name = "sudh"
userid = "IN001"
password = "fsfsfsd"
mail = "sudhans@ienru.ai"

## Float: Float, or "floating point number" is a number, positive or negative, containing one or more decimals. 
Float can also be scientific numbers with an "e" to indicate the power of 10.

In [99]:
a = 1.6423424242243434234234

In [72]:
type(a )

float

In [73]:
b = True ## T And F always shoud be in the Capitical latter 
c = False

In [74]:
type(b)

bool

In [75]:
type(c)

bool

In [101]:
True + True + True + False + True

4

In [102]:
False - True+ True

0

In [76]:
Task ##print(True + True + True + False + True  )
Task ## print(False - True+ True )

4
0

In [77]:
True + True -False

2

In [78]:
True / False

ZeroDivisionError: division by zero

In [79]:
n  = 45 + 6j
m = 56 + 8j

In [80]:
type(m)

complex

In [81]:
n* m

(2472+696j)

In [82]:
n.real ## by using the real number  from the complex

45.0

In [83]:
n.imag ## To find the imageinert number

6.0

In [84]:
b = "sdf"
type(b)

str

In [85]:
"1"+ "sudh"

'1sudh'

In [86]:
1+ 1.0

2.0

In [87]:
"sudh" + "sudh" + "sudh"

'sudhsudhsudh'

In [88]:
"sudh" * 3

'sudhsudhsudh'

In [89]:
int('23')

23

In [103]:
int("2354dfsdfs")

ValueError: invalid literal for int() with base 10: '2354dfsdfs'

In [104]:
a = 10

In [105]:
a = input("enter a interger ")

enter a interger 343

In [106]:
type(a)

str

In [107]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))
o = a+b/c
o1 = o + 78 + 6j
str(o1) + "sudh"

this is my var a 12
this is my var b 21
this is my var c 12

'(91.75+6j)sudh'

In [ ]:
o = a+b/c
o1 = o + 78 + 6j

In [ ]:
o1

In [ ]:
str(o1) + "sudh"

In [ ]:
a = int(input("input a number lesser then 34 -- "))

In [ ]:
if a <34 :
    pass

In [ ]:
a = int(input("input a number"))
if a <34:
    print("data input is lesser then 34 and i am fine with it ")
elif a < 100:
    print(" my data is lesser then 100")
    
else:
    print ( "user input is not lesser then 34")

In [2]:
salary = int(input("enter your salary"))
if( salary > 1000):
    print("you salary is good")
    if salary > 5000:
        print("i will go with a card nano")
        if True:
            print("false code")
    elif salary >10000:
        print("i will go with maruti")
    elif salary > 50000:
        print("i wil go with toyota")
    else :
        print("i will rent a car ")
elif salary > 500:
    print(" i will go for bike ")
elif salary> 100:
    print("i will not buy anyting")
else :
    print("i will go for savinig ")

enter your salary60000000
you salary is good
i will go with a card nano
false code

In [ ]:
salary > 5000

The following is a table of escape sequences which cause Python to suppress the usual special interpretation of a character in a string

In [18]:
print('a\ ....b')

a\ ....b

In [25]:
 print('a\
 b\
c')

abc

In [26]:
print('a \n b')

a
 b

In [27]:
print("mrcet \n college")

mrcet
 college

Escape Sequence 
Usual Interpretation of Character(s) After Backslash “Escaped” Interpretation \' Terminates string with single quote opening delimiter Literal single quote (') character \" Terminates string with double quote opening delimiter Literal double quote (") character \newline Terminates input line Newline is ignored \\ Introduces escape sequence Literal backslash (\) character

In Python (and almost all other common computer languages), a tab character can be specified by the escape sequence \t:

In [29]:
print("a\tb")

a	b